<Main>
  <canvas #canvas></canvas>
  <nav>
      <button (click)="newNodes(10)">+ 10 nodes</button>
      <button (click)="newNodes(-10)">-10 nodes</button>
      <button (click)="connection = !connection">connect</button>
      <button (click)="showShape = !showShape">show shape</button>
      <button (click)="showFPS = !showFPS">show fps</button>
      <button (click)="stopAnimation()">stop animate</button>
      <button (click)="loopMethodChange()">loop method: {{loopMethodCurrent}}</button>
  </nav>
</Main>
