<div class="resume card">
    <header class="f fc fcece">
        <h1>Radek Piekný</h1>
        <span>front-end developer</span>
    </header>
    <section>
        <div class="f fse">
            <div class="tac fg-1">Prague</div>
            <div class="tac fg-1">+420 733 612 783</div>
            <div class="tac fg-1">pieknyradek@gmail.com</div>
        </div>
        <p>
            I created my first select * in 2013 and as I was playing with some report I relized I enjoyed it much more than my main duties so I started learning. I did not let go for next 2 years self-teaching about data and some programming and when I finally thought I knew enough to quit the job and find a new path I was told I am kind of crazy as I had good management position but I knew this was something I had to do. Best decision in my life. Rest of the story I leave in all those keywords down there.
        </p>
        <ul class="triple-col f fse">
            <li class="synthesis f fc face">
                <h3>area of expertise</h3>
                <span>sw developer</span>
                <span>process manager</span>
            </li>
            <li class="synthesis f fc face">
                <h3>education</h3>
                <span>bechelor of regional management and economy</span>
                <span>high school diploma of it systems</span>
            </li>
            <li class="synthesis f fc face">
                <h3>certification</h3>
                <span>itil</span>
                <span>prince2</span>
            </li>
        </ul>
    </section>
    <h2>skills</h2>
    <section>
        
        <span>Time spent using these technologies</span>
        <span>Please note the values does not represent comparison to other people as anyone who wants to work with me has to be judge of that</span>
        <ul class="triple-col f fse">
            <li><skill-range value="90" label="HTML"></skill-range></li>
            <li><skill-range value="60" label="RXJS"></skill-range></li>
            <li><skill-range value="90" label="REST API WITH ASP"></skill-range></li>
            <li><skill-range value="90" label="CSS / SCSS / SASS"></skill-range></li>
            <li><skill-range value="90" label="C#"></skill-range></li>
            <li><skill-range value="90" label="GIT / TFS"></skill-range></li>
            <li><skill-range value="90" label="JAVASCRIPT / TYPESCRIPT"></skill-range></li>
            <li><skill-range value="90" label="SVG / CANVAS"></skill-range></li>
            <li><skill-range value="90" label="AZURE CI&CD"></skill-range></li>
            <li><skill-range value="90" label="ANGULAR"></skill-range></li>
            <li><skill-range value="90" label="RESPONSIVE WEB DESIGN"></skill-range></li>
            <li><skill-range value="90" label="KARMA / JASMINE"></skill-range></li>
            <li><skill-range value="90" label="CUSTOM COMPONENTS"></skill-range></li>
            <li><skill-range value="90" label="PWA - SW"></skill-range></li>
            <li><skill-range value="90" label="UX"></skill-range></li>
            <li><skill-range value="90" label="POWERSHELL / BASH etc."></skill-range></li>
            <li><skill-range value="90" label="ADMIN WEB&DB SERVER"></skill-range></li>
            <li><skill-range value="90" label="SQL"></skill-range></li>
        </ul>
    </section>
    
</div>