:host {
    display: flex;
    justify-content: center;
    --height: 10px;
}
.skill-bar-container {
    position: relative;
    width: 300px;
    height: var(--height);
    border-radius: calc(var(--height) / 2);
    background-color: var(--Element-BG-Color);
    transition: background-color .3s ease-in-out;
    overflow: hidden;
}
.skill-value-bar {
    position: absolute;
    width: 300px;
    left: -100%;
    height: var(--height);
    border-radius: calc(var(--height) / 2);
    background-color: blueviolet;
    transition: .6s ease-in-out;
}