:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16PX;
    --height: 10px;
    font-size: .75em;
}
.skill-bar-container {
    position: relative;
    height: var(--height);
    border-radius: calc(var(--height) / 2);
    background-color: var(--Element-BG-Color);
    transition: background-color .3s ease-in-out;
    overflow: hidden;
}
.skill-value-bar {
    position: absolute;
    width: 100%;
    left: -100%;
    height: var(--height);
    border-radius: calc(var(--height) / 2);
    background-color: blueviolet;
    transition: .6s ease-in-out;
}