:root {
    --Dark-Main-BG-Color: rgb(40,40,40);
    --Dark-Nav-BG-Color: MIDNIGHTBLUE;
    --Dark-Nav-BG-Active: rgb(55,55,55);
    --Dark-Font-Color: rgb(200,200,200);
    --Dark-Element-BG-Color: rgb(66,66,66);
    --Dark-Primary-Color: LIGHTSKYBLUE;

    --Light-Main-BG-Color: rgb(236, 236, 236);
    --Light-Nav-BG-Color: LIGHTSKYBLUE;
    --Light-Nav-BG-Active: rgb(200,200,200);
    --Light-Font-Color: rgb(40,40,40);
    --Light-Element-BG-Color: rgb(212, 212, 212);
    --Light-Primary-Color: LIGHTSKYBLUE;
    --nav-height: 3rem;
}
.light {
    --Main-BG-Color: var(--Light-Main-BG-Color);
    --Nav-BG-Color: var(--Light-Nav-BG-Color);
    --Nav-BG-Active: var(--Light-Nav-BG-Active);
    --Font-Color: var(--Light-Font-Color);
    --Element-BG-Color: var(--Light-Element-BG-Color);
    --Primary-Color: var(--Light-Primary-Color);
}
.dark {
    --Main-BG-Color: var(--Dark-Main-BG-Color);
    --Nav-BG-Color: var(--Dark-Nav-BG-Color);
    --Nav-BG-Active: var(--Dark-Nav-BG-Active);
    --Font-Color: var(--Dark-Font-Color);
    --Element-BG-Color: var(--Dark-Element-BG-Color);
    --Primary-Color: var(--Dark-Primary-Color);
}
html,body {
    margin: 0;
    background-color: var(--Main-BG-Color);
}
.card {
    @extend .elevation-2;
    background-color: var(--Card-BG);
}
.f {
    display: flex;
}
.fc {
    flex-direction: column;
}
.fse {
    justify-content: space-evenly;
}
.fjce {
    justify-content: center;
}
.face {
    align-items: center;
}
.fcece {
    justify-content: center;
    align-items: center;
}
.fg-1 {
    flex: 1;
}
.tac {
    text-align: center;
}
.elevation-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.elevation-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.elevation-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.elevation-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.elevation-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
h1,h2,h3 {
    text-align: center;
}