<svg [attr.height]="width" [attr.width]="width" viewBox="0 0 20 20">
        <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" style="stop-color:rgba(16, 180, 10,0);stop-opacity:1" />
                <stop offset="100%" style="stop-color:rgba(16, 180, 10,1);stop-opacity:1" />
              </linearGradient>

<path fill="transparent" [attr.d]="circlePath(10,10,r)" stroke="url(#grad1)"/>

        
</svg>
<div class="content" [ngStyle]="contentStyle">
        <ng-content></ng-content>
</div>
